# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Intellij Idea workspace files
.idea/
*.iml

# VSCode workspace files
*.code-workspace
launch.json
.vscode

# generated proto files
*.pb.go

# golang vendor directory
vendor

# data directory
data

# temporary file generated during build
build

# .netrc file containing github access token
.netrc
main


# delve debugger temp file
__debug_bin

temp/

