/* Font Face Declarations */
@font-face {
    font-family: 'Amithen';
    src: url('assets/fonts/Amithen.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
}


html {
    background: linear-gradient(to bottom, #670762, #A9096C);
    height: 100%;
}

body {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .logo img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.container .coming-soon {
    font-size: 0.6em;
    margin-bottom: 40px;
}

.download-buttons {
    display: flex;
    gap: 20px;
}

.download-buttons div {
    cursor: default;
    background: transparent;
}

.download-buttons img {
    max-width: 120px;
    width: 100%;
    background: transparent;
}

@media screen and (max-width: 768px) {
    .container .logo img {
        max-height: 150px;
    }

    .container .coming-soon {
        font-size: 0.5em;
    }

    .download-buttons img {
        max-width: 80px;
    }
}

@media screen and (max-width: 480px) {
    .container .logo img {
        max-height: 100px;
    }

    .container .coming-soon {
        font-size: 0.4em;
    }

    .download-buttons img {
        max-width: 60px;
    }
}
